---
title: "Decentralized Publishing of Transfer Footpaths"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
<!-- <%= person 'Harm Delva', '#', 'http://www.example.org/#me' %> -

{:#affiliations}
- {:#myaffiliation} Awesome Inc.

-->

<%= section 'abstract' %>
</header>

<main>
  
  <%= section 'introduction'  %>
  <%= section 'related'  %>
  <%= section 'methodology'  %>
  <%= section 'results'  %>
  <%= section 'conclusion'  %>

  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/mathtex-script-type.min.js" integrity="sha384-LJ2FmexL77rmGm6SIpxq7y+XA6bkLzGZEgCywzKOZG/ws4va9fUVu2neMjvc3zdv" crossorigin="anonymous"></script>
</main>


<footer></footer>

