---
title: "Decentralized Publishing of Transfer Footpaths"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Harm Delva', '#harm', '#harm' %>
- <%= person 'Julián Andrés Rojas Meléndez', '#julian', '#julian' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be', 'https://pietercolpaert.be/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
Ghent University – imec

<%= section 'abstract' %>
</header>

<main>
  
  <%= section 'introduction'  %>
  <%= section 'related'  %>
  <%= section 'methodology'  %>
  <%= section 'results'  %>
  <%= section 'conclusion'  %>

  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/mathtex-script-type.min.js" integrity="sha384-LJ2FmexL77rmGm6SIpxq7y+XA6bkLzGZEgCywzKOZG/ws4va9fUVu2neMjvc3zdv" crossorigin="anonymous"></script>
</main>


<footer></footer>

